.container__card-img img{
    height: 250px;
    width: 250px;
    border-radius:  15px;
}

@media(min-width: 0) and (max-width: 768px){
    .container__card-img{
        width: 100%;
    }
    .container__card-img img{
        height: 280px;
        width: 100%;
        border-radius:  15px;
    }
}