.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #233551;
}

.rodape a {
    text-decoration:none;
}